	.f{
  margin-top: 75px;
  color: white;
  font-size: 45px;
  text-align: center;
}
input{
	font-size: 20px;
	padding: 9px;
	text-align: center;
}
form,.table{
	background: rgba(51,51,51,0.9);
	
}

thead{
	color: white;
	font-size: 35px;
}

table{
	width: 100%;
}
td{
	color: white;
	text-align: center;
	font-size: 15px;
}